/nbproject/private/
/nbproject
.vagrant/
/node_modules
/site/wp-content/wpvividbackups/*
/site/wp-content/backups-dup-lite/*
/site/wp-content/debug.log
/site/wp-content/cache/supercache/
/site/wp-content/db.php
